# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC28ERg_Ntt-ygQSlfmXOBvrIKbaPhCx4s
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=skpro-b5555.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=skpro-b5555
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=skpro-b5555.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=118049819823
NEXT_PUBLIC_FIREBASE_APP_ID=1:118049819823:web:4fd6fb28dac9615420985a
